<div class="">
  <div class="col-12">
    <tc-card [title]="'Select Slote'" class="mb-0">



      <div class="buttons-list">
        <div *ngFor="let item of slotelist;let i=index;">
          <button *ngIf="item.is_reserved==0" (click)="OpenSlote(item.slote_no,item.price)" tc-button
            [outline]="time_slote_id==item.slote_no?false:true" tcColor="#1047d1"
            [view]="'success'">{{item.slote}}</button>

          <button *ngIf="item.is_reserved!=0" tc-button [disabled]="true">{{item.slote}}</button>

        </div>

      </div>
    </tc-card>
  </div>


  <div *ngIf="user_type=='customer'" class="col-3 mt-4 mb-4">
    <button
   
    (click)=" ProceedPayment(modalBody, 'Confirm Payment', modalFooter)"
      tc-button
      [block]="true"
      
      [view]="'success'"
      [tcShape]="500"
      [afterIcon]="'icofont-pixels'"
    >
      Proceed Payment ${{price}}
    </button>
</div>


</div>



<ng-container>
  <ng-template class="font-bold font-large" #modalBody>

    <strong>Are You Sure want to Proceed Payment ${{price}}</strong>
    <tc-alert *ngIf="this.is_ActveButton==1" [removable]="true" [view]="status" [view]="'success'" class="mb-4">
      {{texttoshow}}
    </tc-alert>




  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" [disabled]="is_ActveButton==0?false:true" (click)="proceed()">
        Proceed Payment
      </button>
    </div>
  </ng-template>
</ng-container>