<tc-card  [title]="'My Bookings'" class="mb-0">
    <div class="table-wrap">
      <nz-table #editRowTable nzBordered [nzData]="Mybookings" [nzShowPagination]="false">
        <thead>
        <tr>
          <th>id</th>
          <th>Reservations Id</th>
          <th>Slote Id</th>
          <th>Date</th>
          <th>Cust Id</th>
          <th>Slote No</th>
          <th>Car Type</th>
          <th>My slote</th>
          <th>Amount Received</th>
  
          <th [nzAlign]="'right'">Cancel Slote</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTable.data;let i=index">
          <ng-container >
            <td>
              <div class="d-flex align-items-center">
                <strong class="text-nowrap">{{i+1 }}</strong>
              </div>
            </td>



            <td>{{ data.reservations_id }}</td>
            <td>{{ data.slote_id }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.cust_id }}</td>
            <td>{{ data.slote_no }}</td>
            <td>{{ data.car_type }}</td>
            <td>{{ data.my_slote }}</td>
            <td>{{ data.amount_received }}</td>
            <td [nzAlign]="'right'">
              <button tc-button [size]="'sm'" [view]="'accent'" (click)="startEdit(data.reservations_id,modalBody2, 'Cancel Slote', modalFooter2)">Cancel Slote</button>
            </td>
          </ng-container>
          <!-- <ng-template #editTemplate>
           
          </ng-template> -->
        </tr>
        </tbody>
      </nz-table>
    </div>
  </tc-card>

  <ng-container>
    <ng-template class="font-bold font-large" #modalBody2>
     
  <strong class="mb-2">Are You Sure want to Cancel  ? We will Deduct 50% </strong>
      <tc-alert  *ngIf="this.is_ActveButton==1" [removable]="true" [view]="status" [view]="'success'" class="mb-4 mt-4">
        {{texttoshow}}
       </tc-alert>
    </ng-template>
  
    <ng-template #modalFooter2>
      <div class="actions justify-content-between">
        <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
        <button tc-button [view]="'info'" [disabled]="is_ActveButton==0?false:true" (click)="CancleSlote()">
      Cancel Slote
        </button>
      </div>
    </ng-template>
  </ng-container>
